.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  font-family: sans-serif;
  font-size: 0;
  cursor: pointer;
  border: 1px solid black;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.cyan {
  background-color: cyan;
}

.white {
  background-color: white;
}

.selected {
  font-family: sans-serif;
  color: white;
  -webkit-text-stroke: 1px black;
  text-align: center;
  font-size: 16px;
}
